

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
   height: 100px;
   display: flex;
}
<title>Proyecto p04</title>
body {
   width: 70%;
   margin: 0 auto;
}















